# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=yourpassword
POSTGRES_DB=climbing_tracker

# Backend
DATABASE_URL=postgresql://postgres:yourpassword@db:5432/climbing_tracker
# Generate your own SECRET_KEY using openssl in WSL
SECRET_KEY=jwt-secret-key-change-this
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Frontend
API_URL=http://localhost:8000
